<div class="doctor-card-glass">
    <div class="card-header-glass">
        <h6 class="doctor-name-glass">Admit Patient</h6>
        <!-- <a class="view-all-link">View All</a> -->
    </div>
    <div class="card-content-glass">
        <div class="patient-stats-container">
            <div class="stat-item">
                <p>Today</p>
                <p class="stat-value">105</p>
            </div>
            <div class="stat-item">
                <p>This Week</p>
                <p class="stat-value">825</p>
            </div>
            <div class="stat-item">
                <p>This Month</p>
                <p class="stat-value">22067</p>
            </div>
            <div class="stat-percentage">
                <div class="progress-container">
                    <div class="progress-bar" style="width: 74%;">74%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="doctor-card-glass mt-3">
    <div class="card-header-glass">
        <h6 class="doctor-name-glass">Discharge Patient</h6>
        <!-- <a class="view-all-link">View All</a> -->
    </div>
    <div class="card-content-glass">
        <div class="patient-stats-container">
            <div class="stat-item">
                <p>Today</p>
                <p class="stat-value">1247</p>
            </div>
            <div class="stat-item">
                <p>This Week</p>
                <p class="stat-value">22568</p>
            </div>
            <div class="stat-item">
                <p>This Month</p>
                <p class="stat-value">65147</p>
            </div>
            <div class="stat-percentage">
                <div class="progress-container">
                    <div class="progress-bar greenbar" style="width: 70%;">70%</div>
                </div>
            </div>
        </div>
    </div>
</div>