<h2 mat-dialog-title class="dialog-header mb-0">Room Availability Details</h2>
<mat-dialog-content>
    <div class="row mt-2" style="font-size:13px;">
        <div class="col-md-4"><b>Room Type</b> : {{RoomAvailabilityDetails?.roomType}}</div>
        <div class="col-md-4"><b>Available Beds</b> : {{RoomAvailabilityDetails?.availableBeds}}</div>
        <div class="col-md-4"><b>Occupied Beds</b> : {{RoomAvailabilityDetails?.occupiedBeds}}</div>
        <div class="col-md-4"><b>Status</b> : {{RoomAvailabilityDetails?.status}}</div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Close</button>
</mat-dialog-actions>