<div class="container-fluid">
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Holidays 2026</h3>
                    </div>
                    <div class="col-auto float-right ml-auto">
                        <button class="add-btn">
                            <span class="icon">+</span> Add New Holiday
                        </button>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="horizontal-timeline">
                <div class="timeline-items">
                    <div *ngFor="let holiday of holidays" class="timeline-item"
                        [ngClass]="'holiday-type-' + holiday.type.toLowerCase()">
                        <div class="timeline-badge">
                            <div class="timeline-date">{{ holiday.date | date: 'd MMM y' }}</div>
                            <div class="timeline-dot"></div>
                        </div>
                        <div class="timeline-panel">
                            <div class="holiday-icon-wrapper">
                                <i [class]="getHolidayIcon(holiday.type)"></i>
                            </div>
                            <h5 class="holiday-title">{{ holiday.name }}</h5>
                            <p class="holiday-details">{{ holiday.details }}</p>
                            <div class="holiday-meta">
                                <span title="Shift"><i class="fa fa-clock-o"></i> {{ holiday.shift }}</span>
                                <span title="Location"><i class="fa fa-map-marker"></i> {{ holiday.location }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>