.details-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.custom-header {
    background-color: #F6EEFB;
    background-image:
        radial-gradient(circle at 0% 0%, rgba(255, 230, 190, 0.3) 0%, transparent 45%),
        radial-gradient(circle at 100% 100%, rgba(255, 210, 210, 0.25) 0%, transparent 45%),
        linear-gradient(135deg, #FFFFFF 0%, #EAD8F5 100%);
    color: #1F1F1F;
    padding: 14px;
}

.header-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #1F1F1F;
}

.custom-header mat-card-subtitle {
    color: #1F1F1F;
    margin-top: 4px;
}

.avatar-placeholder {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.custom-content {
    background-color: #ffffff;
    padding: 8px;
    height: 415px;
    overflow-y: auto;
}

.action-hyperlink {
    text-decoration: none;
    color: #621f8b;
    margin: 0px;
    font-size: 15px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.list-item {
    margin-bottom: 12px;
    background: #fff;
    border-radius: 10px;
    border: 1px dashed #3949ab;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    height: auto;
    padding: 6px;
}

.list-icon {
    background: linear-gradient(135deg, #e3f2fd 0%, #bbdefb 100%);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    margin-right: 16px;
}

.list-info {
    font-weight: 600;
    font-size: 15px;
    color: #37474f;
}