<div mat-dialog-title class="dialog-header d-flex justify-content-between align-items-center">
    <h2>{{ RoomMasterDetails ? 'Edit' : 'Add New' }} Room Master</h2>
    <button class="close-btn" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="dialog-content">
    <form class="row" [formGroup]="RoomMasterForm">
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Room Number</mat-label>
                <input matInput type="number" formControlName="RoomNumber" required>
                <mat-error *ngIf="RoomMasterForm.get('RoomNumber')?.invalid">
                    Please enter Room Number
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">RoomType</mat-label>
                <mat-select formControlName="RoomType" required>
                    <mat-option *ngFor="let RoomType of RoomTypeList" [value]="RoomType.roomType">{{RoomType.roomType}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="RoomMasterForm.get('RoomType')?.invalid">
                    Please select RoomType
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Ward</mat-label>
                <mat-select formControlName="Ward" required>
                    <mat-option *ngFor="let Ward of WardList" [value]="Ward.wardName">{{Ward.wardName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="RoomMasterForm.get('Ward')?.invalid">
                    Please select Ward
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Floor</mat-label>
                <input matInput type="number" formControlName="Floor" required>
                <mat-error *ngIf="RoomMasterForm.get('Floor')?.invalid">
                    Please enter Floor
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Total Beds</mat-label>
                <input matInput type="number" formControlName="TotalBeds" required>
                <mat-error *ngIf="RoomMasterForm.get('TotalBeds')?.invalid">
                    Please enter Total Beds
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Charge Per Day</mat-label>
                <input matInput type="number" formControlName="ChargePerDay" required>
                <mat-error *ngIf="RoomMasterForm.get('ChargePerDay')?.invalid">
                    Please enter Charge Per Day</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label style="font-size: 14px;">Status</mat-label>
                <mat-select formControlName="Status" required>
                    <mat-option value="Available">Available</mat-option>
                    <mat-option value="Occupied">Occupied</mat-option>
                    <mat-option value="Maintenance">Maintenance</mat-option>
                </mat-select>
                <mat-error *ngIf="RoomMasterForm.get('Status')?.invalid">
                    Please select Status
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="bgprimary">{{ RoomMasterDetails ? 'Update' : 'Save' }}</button>
    <button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Cancel</button>
</mat-dialog-actions>