.sidenav-list {
  background-color: white;
}
.sidenav-list span {
  padding-left: 8px;
}
.navbar{
  background-color: #6A0572;
  color: #FFFFFF;
}
.mat-nav-list a.active {
  color: #6A0572;
}

.custom-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px; 
}

.item-icon {
  position: absolute;
  left: 12px;
  font-size: 20px;
}

.item-text {
  text-align: center;
  font-size: 15px !important;
}


img {
  width: 100px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.mainuser{
  display: flex;
  align-items: center;
  justify-content: center;
}