<div mat-dialog-title class="dialog-header d-flex justify-content-between align-items-center">
    <h2>{{ ExpensesDetails ? 'Edit' : 'Add New' }} Expenses</h2>
    <button class="close-btn" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="dialog-content">
    <form [formGroup]="ExpensesForm">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Date</mat-label>
                    <input matInput [matDatepicker]="date" formControlName="date" required>
                    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                    <mat-error *ngIf="ExpensesForm.get('date')?.invalid">
                        Please select Date
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option value="Medical Supplies">Medical Supplies</mat-option>
                        <mat-option value="Staff Salaries">Staff Salaries</mat-option>
                        <mat-option value="Utilities">Utilities</mat-option>
                        <mat-option value="Pharmaceuticals">Pharmaceuticals</mat-option>
                        <mat-option value="Equipment">Equipment</mat-option>
                        <mat-option value="Administrative">Administrative</mat-option>
                        <mat-option value="Consulting Services">Consulting Services</mat-option>
                        <mat-option value="Maintenance">Maintenance</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Description</mat-label>
                    <input matInput formControlName="description">
                    <mat-icon matSuffix>description</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Vendor</mat-label>
                    <input matInput formControlName="vendor">
                    <mat-icon matSuffix>store</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Department</mat-label>
                    <mat-select formControlName="department">
                        <mat-option *ngFor="let Department of DepartmentList" [value]="Department.Name">{{
                            Department.Name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Notes</mat-label>
                    <input matInput formControlName="notes">
                </mat-form-field>
            </div>
        </div>

        <div class="section-title">Payment Information</div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Amount</mat-label>
                    <input matInput formControlName="amount">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Tax</mat-label>
                    <input matInput formControlName="tax">
                    <mat-icon matSuffix>description</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Total Cost</mat-label>
                    <input matInput formControlName="total_cost">
                    <mat-icon matSuffix>money_off</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Payment Method</mat-label>
                    <input matInput formControlName="payment_method">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Approval Status</mat-label>
                    <mat-select formControlName="approval_status">
                        <mat-option value="Completed">Completed</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Payment Status</mat-label>
                    <mat-select formControlName="payment_status">
                        <mat-option value="Paid">Paid</mat-option>
                        <mat-option value="Partially Paid">Partially Paid</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="bgprimary">
        {{ ExpensesDetails ? 'Update' : 'Save' }}
    </button>
    <button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Cancel</button>
</mat-dialog-actions>