<div mat-dialog-title class="dialog-header d-flex justify-content-between align-items-center">
    <h2>{{ AppointmentDetails ? 'Edit' : 'Add New' }} Appointment</h2>
    <button class="close-btn" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="AppointmentForm">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Name</mat-label>
                    <input matInput formControlName="Name" required>
                    <mat-error *ngIf="AppointmentForm.get('Name')?.invalid">
                        Please enter Name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Email</mat-label>
                    <input matInput formControlName="Email" required>
                    <mat-error *ngIf="AppointmentForm.get('Email')?.invalid">
                        Please enter Email
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-radio-group formControlName="Gender">
                    <mat-label style="font-size: 14px;">Gender</mat-label>
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="AppointmentForm.get('Gender')?.invalid">
                    Please enter Gender
                </mat-error>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="DateofBirth" formControlName="DateofBirth" required>
                    <mat-datepicker-toggle matIconSuffix [for]="DateofBirth"></mat-datepicker-toggle>
                    <mat-datepicker #DateofBirth></mat-datepicker>
                    <mat-error *ngIf="AppointmentForm.get('DateofBirth')?.invalid">
                        Please select Date Of Birth
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Address</mat-label>
                    <textarea matInput formControlName="Address" rows="1"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Mobile</mat-label>
                    <input matInput formControlName="Mobile" required>
                    <mat-icon matSuffix>call</mat-icon>
                    <mat-error *ngIf="AppointmentForm.get('Mobile')?.invalid">
                        Please enter Mobile
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="section-title">Appointment Details</div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Date of Appointment</mat-label>
                    <input matInput [matDatepicker]="AppointmentDate" formControlName="AppointmentDate" required>
                    <mat-datepicker-toggle matIconSuffix [for]="AppointmentDate"></mat-datepicker-toggle>
                    <mat-datepicker #AppointmentDate></mat-datepicker>
                    <mat-error *ngIf="AppointmentForm.get('AppointmentDate')?.invalid">
                        Please select Date of Appointment
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Time Of Appointment</mat-label>
                    <input matInput [matTimepicker]="AppointmentTime" formControlName="AppointmentTime" required>
                    <mat-timepicker-toggle matIconSuffix [for]="AppointmentTime" />
                    <mat-timepicker #AppointmentTime />
                    <mat-error *ngIf="AppointmentForm.get('AppointmentTime')?.invalid">
                        Please select Time Of Appointment
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Doctor Name</mat-label>
                    <mat-select formControlName="DoctorName" required>
                        <mat-option *ngFor="let Doctor of DoctorList" [value]="Doctor.Name">{{Doctor.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="AppointmentForm.get('DoctorName')?.invalid">
                        Please select Doctor Name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Injury/Condition</mat-label>
                    <textarea matInput formControlName="Injury" rows="1"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Appointment Status</mat-label>
                    <mat-select formControlName="AppointmentStatus">
                        <mat-option value="Scheduled">Scheduled</mat-option>
                        <mat-option value="Completed">Completed</mat-option>
                        <mat-option value="Canceled">Canceled</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Visit Type</mat-label>
                    <mat-select formControlName="VisitType">
                        <mat-option value="New Patient">New Patient</mat-option>
                        <mat-option value="Follow UP">Follow UP</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Payment Status</mat-label>
                    <mat-select formControlName="PaymentStatus">
                        <mat-option value="Paid">Paid</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Unpaid">Unpaid</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Insurance Provider</mat-label>
                    <input matInput formControlName="InsuranceProvider">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="w-100">
                    <mat-label style="font-size: 14px;">Notes</mat-label>
                    <textarea matInput formControlName="Notes" rows="1"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="bgprimary">{{ AppointmentDetails ? 'Update' : 'Save' }}</button>
    <button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Cancel</button>
</mat-dialog-actions>