<div class="container-fluid">
    <div class="unique-header-section">
        <div class="header-content">
            <h2>Shift Management</h2>
            <p>Manage and schedule doctor shifts efficiently</p>
        </div>
        <div class="header-actions">
            <button class="add-btn" (click)="OpenShiftManagementDialog(null)">
                <span class="icon">+</span> Add New Shift Management
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="modern-table">
            <thead>
                <tr>
                    <th>SrNo</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Specialization</th>
                    <th>Shift Date</th>
                    <th>Work Days</th>
                    <th>Shift Hours</th>
                    <th>Shift Type</th>
                    <th>Availability Status</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Shift of paginatedList; trackBy: trackByFn;let i = index">
                    <td>
                        <div class="column-cell">
                            <div class="column-number">{{ i + 1 }}</div>
                        </div>
                    </td>
                    <td>{{ Shift.Name }}</td>
                    <td>{{ Shift.Department }}</td>
                    <td>{{ Shift.Specialization }}</td>
                    <td>{{ Shift.ShiftStartDate }} to {{ Shift.ShiftEndDate }}</td>
                    <td>{{ Shift.WorkDays }}</td>
                    <td>{{ Shift.ShiftHours }}</td>
                    <td>{{ Shift.ShiftType }}</td>
                    <td>
                        <span class="type-badge active"
                            *ngIf="Shift.AvailabilityStatus == 'Available'">{{Shift.AvailabilityStatus
                            }}</span>
                        <span class="type-badge contractual"
                            *ngIf="Shift.AvailabilityStatus == 'On Leave'">{{Shift.AvailabilityStatus
                            }}</span>
                        <span class="type-badge inactive"
                            *ngIf="Shift.AvailabilityStatus == 'Unavailable'">{{Shift.AvailabilityStatus
                            }}</span>
                    </td>
                    <td class="text-end">
                        <div class="action-group">
                             <button class="action-btn view" title="View" (click)="OpenShiftManagementDetails(Shift)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button class="action-btn edit" title="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="action-btn delete" title="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="ShiftManagementList.length === 0" class="empty-state">
            <p>No doctor data available.</p>
        </div>
    </div>

    <div class="pagination-section">
        <div class="pagination-info">
            <span>Showing {{ (currentPage - 1) * pageSize + 1 }} to {{ currentPage * pageSize >
                ShiftManagementList.length ?
                ShiftManagementList.length : currentPage * pageSize }} of {{ ShiftManagementList.length }}
                records</span>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                    <button class="page-link" (click)="changePage(1)" [disabled]="currentPage == 1">First</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                    <button class="page-link" (click)="changePage(currentPage - 1)"
                        [disabled]="currentPage == 1">Previous</button>
                </li>
                <li class="page-item" *ngFor="let page of pagesArray; let i = index"
                    [ngClass]="{active: currentPage == i + 1}">
                    <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == totalPages}">
                    <button class="page-link" (click)="changePage(currentPage + 1)"
                        [disabled]="currentPage == totalPages">Next</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == totalPages}">
                    <button class="page-link" (click)="changePage(totalPages)"
                        [disabled]="currentPage == totalPages">Last</button>
                </li>
            </ul>
        </nav>
    </div>
</div>