<h2 mat-dialog-title class="dialog-header mb-0">Room Release Details</h2>
<mat-dialog-content>
    <div class="row mt-2" style="font-size: 13px;">
        <div class="col-md-4">
            <b>Patient Name</b> : {{RoomReleaseDetails?.patientName}}
        </div>
        <div class="col-md-4">
            <b>Room Number</b> : {{RoomReleaseDetails?.roomNumber}}
        </div>
        <div class="col-md-4">
            <b>Bed Number</b> : {{RoomReleaseDetails?.bedNumber}}
        </div>
        <div class="col-md-4">
            <b>Discharge Date</b> : {{RoomReleaseDetails?.dischargeDate}}
        </div>
        <div class="col-md-4">
            <b>Total Days</b> : {{RoomReleaseDetails?.totalDays}}
        </div>
        <div class="col-md-4">
            <b>Room Charges</b> : {{RoomReleaseDetails?.roomCharges}}
        </div>
        <div class="col-md-4">
            <b>Status</b> : {{RoomReleaseDetails?.roomStatusAfterRelease}}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Cancel</button>
</mat-dialog-actions>