<div class="doctor-card-glass">
    <div class="card-header-glass">
        <h6 class="doctor-name-glass">Recent Activity</h6>
    </div>
    <div class="card-content-glass p-2">
        <div class="timeline-activity">
            <div class="activity-item">
                <div class="time">5 mins ago</div>
                <div class="text">Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</div>
            </div>
            <div class="activity-item">
                <div class="time">8 mins ago</div>
                <div class="text">Lorem ipsum dolor sit ametcon the sectetur that ascing elit users.</div>
            </div>
            <div class="activity-item">
                <div class="time">10 mins ago</div>
                <div class="text">Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</div>
            </div>
            <div class="activity-item">
                <div class="time">20 mins ago</div>
                <div class="text">Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</div>
            </div>
            <div class="activity-item">
                <div class="time">5 mins ago</div>
                <div class="text">Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</div>
            </div>
        </div>
    </div>
</div>