<div class="container-fluid pb-3">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <app-doctor-performance-dashboard></app-doctor-performance-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-patient-details-dashboard></app-patient-details-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-room-status-dashboard></app-room-status-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-patient-visited-dashboard></app-patient-visited-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-diseases-chart-dashboard></app-diseases-chart-dashboard>
        </div>
        <div class="col-lg-12 mb-3">
            <app-recent-report-dashboard></app-recent-report-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-patients-group-dashboard></app-patients-group-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-recent-comments-dashboard></app-recent-comments-dashboard>
        </div>
        <div class="col-lg-4 mb-3">
            <app-recent-activity-dashboard></app-recent-activity-dashboard>
        </div>
    </div>
</div>