<mat-card class="details-card">
    <mat-card-content class="custom-content">
        <mat-tab-group>
            <mat-tab label="Upcoming Appointments">
                <div class="upcoming-appointments">
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Cara Stevens">
                            <div>
                                <h6>Dr.Cara Stevens</h6>
                                <span>Radiologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>09:00-10:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>CT scans</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 676545655</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.John Doe">
                            <div>
                                <h6>Dr.John Doe</h6>
                                <span>Cardiologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>13 June '20</span>
                            <small>11:00-11:30</small>
                        </div>
                        <div class="treatment-info">
                            <span>heart checkup</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 434656764</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Airi Satou">
                            <div>
                                <h6>Dr.Airi Satou</h6>
                                <span>Otolaryngologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>09:15-10:15</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diseases Of The Ear</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45345673</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Angelica Ramos">
                            <div>
                                <h6>Dr.Angelica Ramos</h6>
                                <span>Dentist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>11:00-12:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>Root Canal</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 87654533</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Jens Brincker">
                            <div>
                                <h6>Dr.Jens Brincker</h6>
                                <span>Endocrinologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>23 June '20</span>
                            <small>04:00-05:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diabetes</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45678345</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Airi Satou">
                            <div>
                                <h6>Dr.Airi Satou</h6>
                                <span>Otolaryngologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>09:15-10:15</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diseases Of The Ear</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45345673</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Past Appointments">
                <div class="upcoming-appointments">
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Jens Brincker">
                            <div>
                                <h6>Dr.Jens Brincker</h6>
                                <span>Endocrinologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>23 June '20</span>
                            <small>04:00-05:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diabetes</span>
                            <small>Treatement</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45678345</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.John Doe">
                            <div>
                                <h6>Dr.John Doe</h6>
                                <span>Cardiologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>13 June '20</span>
                            <small>11:00-11:30</small>
                        </div>
                        <div class="treatment-info">
                            <span>heart checkup</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 434656764</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Airi Satou">
                            <div>
                                <h6>Dr.Airi Satou</h6>
                                <span>Otolaryngologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>09:15-10:15</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diseases Of The Ear</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45345673</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Angelica Ramos">
                            <div>
                                <h6>Dr.Angelica Ramos</h6>
                                <span>Dentist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>11:00-12:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>Root Canal</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 87654533</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Jens Brincker">
                            <div>
                                <h6>Dr.Jens Brincker</h6>
                                <span>Endocrinologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>23 June '20</span>
                            <small>04:00-05:00</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diabetes</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45678345</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                    <div class="appointment-row">
                        <div class="doctor-info">
                            <img src="user/default-user.jpg" alt="Dr.Airi Satou">
                            <div>
                                <h6>Dr.Airi Satou</h6>
                                <span>Otolaryngologist</span>
                            </div>
                        </div>
                        <div class="time-info">
                            <span>12 June '20</span>
                            <small>09:15-10:15</small>
                        </div>
                        <div class="treatment-info">
                            <span>Diseases Of The Ear</span>
                            <small>Treatment</small>
                        </div>
                        <div class="contact-info">
                            <span>+123 45345673</span>
                            <small>Contact Number</small>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>