/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/dist/css/bootstrap.min.css';
@use "ngx-toastr/toastr";
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
  background-color: #E9F7F1;
  color: #333333;
}

.bgprimary {
  background-color: #6A0572 !important;
  border: 2px solid #6A0572 !important;
  color: #FFFFFF !important;

  &:hover {
    background-color: #580464 !important;
  }
}

.bgsecondary {
  background-color: #D4AF37 !important;
  border: 2px solid #D4AF37 !important;
  color: #333333 !important;

  &:hover {
    background-color: #C9A22F !important;
  }
}

.bgaccent {
  background-color: #FF6B6B !important;
  border: 2px solid #FF6B6B !important;
  color: white !important;

  &:hover {
    background-color: #E85C5C !important;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-select-value-text {
  font-size: 14px !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 14px !important;
}

.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: red;
  font-weight: bolder;
}


.card {
  border: 3px solid transparent;

  .card-header {
    background-color: #f5dff8;
    color: #6A0572;
    border-bottom: 1px solid transparent;
  }
}

.dialog-header {
  background-color: #f5dff8 !important;
  color: #6A0572 !important;
}
.mat-mdc-dialog-container {
    height: auto !important;
}

.badge-solid-purple {
  color: #6f42c1;
  background-color: #6f42c126;
  border: none;
  padding: 5px 12px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}

.badge-solid-green {
  color: #198754;
  background-color: #19875426;
  border: none;
  padding: 5px 12px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}

.badge-solid-orange {
  color: #fd7e14;
  background-color: #fd7e1426;
  border: none;
  padding: 5px 12px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}

.badge-solid-red {
  color: #f11541;
  background-color: #f1154126;
  border: none;
  padding: 5px 12px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}

.mat-mdc-cell {
  font-size: 13px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
  color: #6A0572 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #6A0572 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #6A0572 !important;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: #6A0572 !important;
  background-color: #6A0572 !important;
}

.mat-calendar-body-selected {
  background-color: #6A0572 !important;
}

.mat-calendar-body-in-range::before {
  background: #f5dff8 !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #f5dff8 !important;
}

.mat-mdc-dialog-actions {
  padding: 5px !important;
}

.mat-clock-dial-cell.mat-clock-dial-cell-active {
  background-color: #6A0572 !important;
}

.mat-clock-dial-hand:not(.mat-clock-dial-hand-disabled) {
  background-color: #6A0572 !important;
}

.mat-clock-dial:before {
  background-color: #6A0572 !important;
}

.mat-clock-dial-value.mat-clock-dial-value-active {
  background-color: #f5dff8 !important;
}

.mat-time-period-item-active {
  color: #6A0572 !important;
  background-color: #f5dff8 !important;
}

.mat-mdc-button:not(:disabled) {
  color: #6A0572 !important;
}

.mat-timepicker-toggle.mat-timepicker-toggle-active button {
  color: #6A0572 !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #6A0572 !important;
}

.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__inner-circle {
  border-color: #6A0572 !important;
}

.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background>.mdc-radio__outer-circle {
  border-color: #6A0572 !important;
}

///default scrollbar
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #6A0572;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #a0a0a0;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}