.dashboard-card {
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    background-color: #fff;
    overflow: hidden;

    mat-card-header {
        padding: 10px 10px 0;

        .avatar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(107, 184, 255,0.12);
            color: #6bb8ff;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-right: 16px;

            .header-icon {
                font-size: 22px;
                width: 22px;
                height: 22px;
            }
        }

        mat-card-title {
            font-size: 18px;
            font-weight: 600;
            color: #5e5873;
            margin-bottom: 0;
        }

        mat-card-subtitle {
            font-size: 13px;
            color: #b9b9c3;
            margin-top: 0px;
        }
    }
}

.actionlink {
    color: #6A0572;
    font-weight: 500;
    border: 1px solid gray;

    &:hover {
        background: rgb(106, 5, 114, 0.12);
    }
}