<div class="container-fluid">
    <div class="unique-header-section">
        <div class="header-content">
            <h2>Assign Department</h2>
            <p>Assign departments to doctors</p>
        </div>
        <div class="header-actions">
            <button class="add-btn" (click)="OpenAssignDepartmentDialog(null)">
                <span class="icon">+</span> Add New Assign Department
            </button>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="modern-table">
            <thead>
                <tr>
                    <th>SrNo</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Specialization</th>
                    <th>Shift Schedule</th>
                    <th>Experience Level</th>
                    <th>Assignment Status</th>
                    <th>Assigned Date</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of paginatedList; trackBy: trackByFn;let i = index">
                    <td>
                        <div class="column-cell">
                            <div class="column-number">{{ i + 1 }}</div>
                        </div>
                    </td>
                    <td>{{ doctor.Name }}</td>
                    <td>{{ doctor.Department }}</td>
                    <td>{{ doctor.Specialization }}</td>
                    <td>{{ doctor.ShiftSchedule }}</td>
                    <td>{{ doctor.ExperienceLevel }}</td>
                    <td>
                         <span class="type-badge active" *ngIf="doctor.AssignmentStatus == 'Active'">{{doctor.AssignmentStatus
                            }}</span>
                        <span class="type-badge contractual" *ngIf="doctor.AssignmentStatus == 'Pending'">{{doctor.AssignmentStatus
                            }}</span>
                        <span class="type-badge inactive" *ngIf="doctor.AssignmentStatus == 'Inactive'">{{doctor.AssignmentStatus
                            }}</span>
                    </td>
                    <td>{{ doctor.AssignedDate }}</td>
                    <td class="text-end">
                        <div class="action-group">
                            <button class="action-btn edit" title="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="action-btn delete" title="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="AssignDepartmentList.length === 0" class="empty-state">
            <p>No doctor data available.</p>
        </div>
    </div>

    <div class="pagination-section">
        <div class="pagination-info">
            <span>Showing {{ (currentPage - 1) * pageSize + 1 }} to {{ currentPage * pageSize >
                AssignDepartmentList.length ?
                AssignDepartmentList.length : currentPage * pageSize }} of {{ AssignDepartmentList.length }} records</span>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                    <button class="page-link" (click)="changePage(1)" [disabled]="currentPage == 1">First</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == 1}">
                    <button class="page-link" (click)="changePage(currentPage - 1)"
                        [disabled]="currentPage == 1">Previous</button>
                </li>
                <li class="page-item" *ngFor="let page of pagesArray; let i = index"
                    [ngClass]="{active: currentPage == i + 1}">
                    <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == totalPages}">
                    <button class="page-link" (click)="changePage(currentPage + 1)"
                        [disabled]="currentPage == totalPages">Next</button>
                </li>
                <li class="page-item" [ngClass]="{disabled: currentPage == totalPages}">
                    <button class="page-link" (click)="changePage(totalPages)"
                        [disabled]="currentPage == totalPages">Last</button>
                </li>
            </ul>
        </nav>
    </div>
</div>