<h2 mat-dialog-title class="dialog-header mb-0">Allotment Details</h2>
<mat-dialog-content>
	<div class="row mt-2" style="font-size:13px;">
		<div class="col-md-4"><b>Patient</b> : {{data?.patientName}}</div>
		<div class="col-md-4"><b>Doctor</b> : {{data?.doctor}}</div>
		<div class="col-md-4"><b>Room</b> : {{data?.roomNumber}} ({{data?.roomType}})</div>
		<div class="col-md-4"><b>Bed</b> : {{data?.bedNumber}}</div>
		<div class="col-md-4"><b>Date</b> : {{data?.allotmentDate}}</div>
		<div class="col-md-4"><b>Status</b> : {{data?.status}}</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button [mat-dialog-close]="false" class="bgaccent">Close</button>
</mat-dialog-actions>
