<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>Performance</mat-card-title>
        <mat-card-subtitle>Daily metrics</mat-card-subtitle>
        <span class="spacer" style="flex: 1 1 auto;"></span>
        <div class="avatar-container">
            <mat-icon class="header-icon">trending_up</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis"
            [grid]="chartOptions.grid" [plotOptions]="chartOptions.plotOptions">
        </apx-chart>
        <div class="d-flex">
            <div class="p-0 flex-grow-1">
                <small style="font-size: 12px;">Avg. Consultation</small>
                <h6 style="color: #FF6B6B;">18 min</h6>
            </div>
            <div class="p-0">
                <small style="font-size: 12px;">Patients/Day</small>
                <h6 style="color: #FF6B6B;">24</h6>
            </div>
        </div>
    </mat-card-content>
</mat-card>